<div align="center">
	<form>
		<div class="form-group">
      <label for="user">Usuario (id):</label>
      <input type="text" class="form-control" #user id="user" style="width: 15em">     
    </div>
    <div class="form-group">
      <label for="product">Producto (id):</label>
      <input type="text" class="form-control" #product id="product" style="width: 15em">     
    </div>
    <button (click)="buyProduct(user.value, product.value)" type="submit" class="btn btn-success">Comprar</button>
	</form>	
</div>